<h1> House</h1>
<div class="buildings-wrapper row">
  
    <div class="building">
      <div class="building-head">
        <div class="name">
          Suraj Apartment
        </div>
        <!-- <p class="description">
        <%= @building.description %>
      </p>-->
      </div>
      <div class="image center-block">
        <%= link_to image_tag @building.image.url(:medium),new_building_floor_path %>
      </div>
 
   </div>
</div>
