<div id="floor">
  <div class="user-name">
    <%= floor.floor_name %>
  </div>
  <div class="floor-content">
    <%= image_tag floor.image.url(:medium), class:'img-responsive',floor_path(@floor) %>
  </div>
</div>
