<h1> Rooms</h1>
<div class="rooms-wrapper row">
  <% @rooms.each do |room| %>
    <div class="room">
      <div class="image center-block">
        <%= link_to (image_tag room.image.url(:medium), class:'img-responsive') %>
      </div>
      
    </div>
  <% end %>
</div>
